<center><h1>✈️✈️COTIZACION DE TU VIAJE!!✈️✈️</h1><center>
<center><h1>FOLIO: {{folio}}</h1><center>
<center><h1>Ciudad: {{ciudad}}</h1><center>
<center><h1>Estado: {{estado}}</h1><center>
<center><h1>Pais: {{pais}}</h1><center>
<center><h1>Categoria: {{categoria}}</h1><center>
<center><h1>Precio: {{precioTotal}}</h1><center>
<center><h1>Tu cotizacion fue: {{cot}} </h1><center>